extends  ../layouts/main/layout

block title


block content
    include ../sections/main/top
    include ../sections/main/assortment
    include ../sections/main/parts
    include ../sections/main/separator
    include ../sections/main/advantages
    include ../sections/main/form


