extends  ../layouts/main/layout

block title


block content
    include ../sections/product/product-perview
    include ../sections/product/product-tabs
    include ../sections/product/product-also
    include ../sections/main/form
