section.tech-work.top
    .container
        .not-found__container
            h2.dev__title Страница в разработке
            p.dev__text Этой страницы пока что не существует. Пожалуйста, зайдите позже.
            a.not-found__link(href='/')
                |Вернуться на главную
                svg.icon
                    use(href='/src/assets/img/sprite.svg#Arrow_Up_Right_MD')