section.product-also
    .container
        .product-also__title Смотрите также:
        .product-also__container
            .swiper.product-also__slider
                .swiper-wrapper.product-also__wrapper
                    .swiper-slide.product-also__slide
                        .product-also__item
                            .product-also__item-images
                                img.product-also__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                                img.product-also__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                                img.product-also__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                                .product-also__item-indicators
                                    .product-also__item-indicator.active(data-id=1)
                                    .product-also__item-indicator(data-id=2)
                                    .product-also__item-indicator(data-id=3)
                            .product-also__item-info
                                .product-also__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                                a.product-also__item-btn
                                    | Подробнее
                                    svg.icon
                                        use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
                    .swiper-slide.product-also__slide
                        .product-also__item
                            .product-also__item-images
                                img.product-also__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                                img.product-also__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                                img.product-also__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                                .product-also__item-indicators
                                    .product-also__item-indicator.active(data-id=1)
                                    .product-also__item-indicator(data-id=2)
                                    .product-also__item-indicator(data-id=3)
                            .product-also__item-info
                                .product-also__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                                a.product-also__item-btn
                                    | Подробнее
                                    svg.icon
                                        use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
                    .swiper-slide.product-also__slide
                        .product-also__item
                            .product-also__item-images
                                img.product-also__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                                img.product-also__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                                img.product-also__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                                .product-also__item-indicators
                                    .product-also__item-indicator.active(data-id=1)
                                    .product-also__item-indicator(data-id=2)
                                    .product-also__item-indicator(data-id=3)
                            .product-also__item-info
                                .product-also__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                                a.product-also__item-btn
                                    | Подробнее
                                    svg.icon
                                        use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
                    .swiper-slide.product-also__slide
                        .product-also__item
                            .product-also__item-images
                                img.product-also__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                                img.product-also__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                                img.product-also__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                                .product-also__item-indicators
                                    .product-also__item-indicator.active(data-id=1)
                                    .product-also__item-indicator(data-id=2)
                                    .product-also__item-indicator(data-id=3)
                            .product-also__item-info
                                .product-also__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                                a.product-also__item-btn
                                    | Подробнее
                                    svg.icon
                                        use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
        .swiper-scrollbar.product-also__scroll