section.product-preview
    .container
        .product-preview__breadcrumbs
            +bread-crumbs(productBreadcrumbs)
        .product-preview__container
            .product-preview__slider-container
                .product-preview__slider-thumbs-container
                    .swiper-button-prev.product-preview__slider-thumbs-button
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#sliderChevron")
                    .swiper.product-preview__slider-thumbs
                        .swiper-wrapper.product-preview__wrapper-tumbs
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/1.webp')
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/2.webp')
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/3.webp')
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/4.webp')
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/4.webp')
                            .swiper-slide.product-preview__slide-thumbs
                                img(src='/src/assets/img/main/grid/4.webp')
                    .swiper-button-next.product-preview__slider-thumbs-button
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#sliderChevron")
                .swiper.product-preview__slider
                    .swiper-wrapper.product-preview__wrapper
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/1.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/2.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/3.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/4.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/4.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/4.webp')
                        .swiper-slide.product-preview__slide
                            img(src='/src/assets/img/main/grid/4.webp')
                .swiper-pagination.product-preview__slider-pagination
            .product-preview__title-container
                h2.product-preview__title Камера тормозная с вилкой тип 16 (длинный шток)
                a.product-preview__action(href='https://parts.sotrans.ru/')
                    | Купить у дистрибьютора
                    svg.icon
                        use(href="/src/assets/img/sprite.svg#cart")
