section.news-nested-product
    .container
        aside.news-nested-product__card
            img.news-nested-product__img(src="/src/assets/img/main/grid/4.webp")
            h4.news-nested-product__title Тормозные колодки HARBINGER™
            a.news-nested-product__btn(href="/catalog")
                | Купить
                svg.icon
                    use(href="/src/assets/img/sprite.svg#arrowExt")