section.news-nested
    .container
        .news-nested__breadcrumbs
            +bread-crumbs(newsNestedBreadcrumbs)
        article.news-nested__container
            img.news-nested__banner(src="/src/assets/img/about/about.webp")
            h3.news-nested__title Новое поступление: тормозные колодки «HARBINGER™»
            p.news-nested__text Компания «СОТРАНС» расширяет линейку тяг и наконечников SOTRANS для грузовой техники европейских и американских марок.
            ul.news-nested__list В ассортимент вошли 38 новых артикулов, среди которых:
                li.news-nested__item наконечники рулевые
                li.news-nested__item наконечники КПП
                li.news-nested__item наконечники рулевые
                li.news-nested__item тяги V-образные
                li.news-nested__item тяги рулевые
                li.news-nested__item тяги стабилизатора
                li.news-nested__item тяги реактивные
            p.news-nested__text Тяги и наконечники SOTRANS выпускаются OEM и OES производствами, изготавливающими комплектующие для ведущих производителей коммерческой техники. Заводы-производители оснащены современным оборудованием, имеют высокую степень автоматизации, что гарантирует качество комплектующих SOTRANS.
