section.catalog-nested
    .container
        .catalog-nested__breadcrumbs
            +bread-crumbs(catalogNestedBreadcrumbs)
        h2.section-title Радиаторы и интеркулеры
        .catalog-nested__grid
            .catalog-nested__item
                .catalog-nested__item-images
                    img.catalog-nested__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                    img.catalog-nested__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                    img.catalog-nested__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                    .catalog-nested__item-indicators
                        .catalog-nested__item-indicator.active(data-id=1)
                        .catalog-nested__item-indicator(data-id=2)
                        .catalog-nested__item-indicator(data-id=3)
                .catalog-nested__item-info
                    .catalog-nested__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                    a.catalog-nested__item-btn
                        |Подробнее
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
            .catalog-nested__item
                .catalog-nested__item-images
                    img.catalog-nested__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                    img.catalog-nested__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                    img.catalog-nested__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                    .catalog-nested__item-indicators
                        .catalog-nested__item-indicator.active(data-id=1)
                        .catalog-nested__item-indicator(data-id=2)
                        .catalog-nested__item-indicator(data-id=3)
                .catalog-nested__item-info
                    .catalog-nested__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                    a.catalog-nested__item-btn
                        |Подробнее
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
            .catalog-nested__item
                .catalog-nested__item-images
                    img.catalog-nested__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                    img.catalog-nested__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                    img.catalog-nested__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                    .catalog-nested__item-indicators
                        .catalog-nested__item-indicator.active(data-id=1)
                        .catalog-nested__item-indicator(data-id=2)
                        .catalog-nested__item-indicator(data-id=3)
                .catalog-nested__item-info
                    .catalog-nested__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                    a.catalog-nested__item-btn
                        |Подробнее
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
            .catalog-nested__item
                .catalog-nested__item-images
                    img.catalog-nested__item-image.active(data-id=1 src="/src/assets/img/main/grid/2.webp")
                    img.catalog-nested__item-image(data-id=2 src="/src/assets/img/main/grid/1.webp")
                    img.catalog-nested__item-image(data-id=3 src="/src/assets/img/main/grid/3.webp")
                    .catalog-nested__item-indicators
                        .catalog-nested__item-indicator.active(data-id=1)
                        .catalog-nested__item-indicator(data-id=2)
                        .catalog-nested__item-indicator(data-id=3)
                .catalog-nested__item-info
                    .catalog-nested__item-text Камера тормозная с вилкой тип 16 длинный шток(барабан, тягач, полуприцеп)
                    a.catalog-nested__item-btn
                        |Подробнее
                        svg.icon
                            use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")
        form.catalog-nested__more
            button.catalog-nested__more-btn Показать ещё
            .catalog-nested__pagination
                btn.catalog-nested__pagination-btn(id="prev")
                    svg.icon
                        use(href="/src/assets/img/sprite.svg#Chevron_Left")
                btn.catalog-nested__pagination-btn.active 1
                btn.catalog-nested__pagination-btn 2
                btn.catalog-nested__pagination-btn 3
                btn.catalog-nested__pagination-btn 4
                btn.catalog-nested__pagination-btn ...
                btn.catalog-nested__pagination-btn(id="last") 999
                btn.catalog-nested__pagination-btn(id="next")
                    svg.icon
                        use(href="/src/assets/img/sprite.svg#Chevron_Right")




