section.catalog
    .container
        .catalog__breadcrumbs-container
            +bread-crumbs(catalogBreadcrumbs)
        h2.catalog__title Каталог товаров
        +main-grid(catalogCards, false, true)