section.assortment
    .container
        .assortment__top
            h3.assortment__category Категории
            .assortment__title-container
                h2.assortment__title  Ассортимент товаров
                p.assortment__title-about В ассортименте бренда HARBINGER™ представлено более 1000 артикулов запчастей для сервисного обслуживания и ремонта коммерческого транспорта
        +main-grid(catalogCards,true,true)


