section.parts
    .container
        h2.parts__title
            |Запчасти 
            span HARBINGER™ 
            |представлены на российском рынке с 2020 года
        .parts__text-container
            p.parts__text HARBINGER™ постоянно расширяет свою ассортиментную матрицу, стараясь максимально удовлетворить запросы клиентов. Генеральным дистрибьютором бренда в России и странах ЕАЭС является группа компаний «СОТРАНС».
            p.parts__text Философия бренда основана на принципе сделать запчасти для коммерческого автотранспорта комфортными и доступными.