section.top-section.top
    .container
        .top-section__title-container
            h1.top-section__title
                span HARBINGER™
                |— автозапчасти коммерческого транспорта
            a.top-section__link
                |Открыть каталог
                svg.icon
                    use(href="/src/assets/img/sprite.svg#Arrow_Up_Right_MD")