section.about
    .container
        .about__container
            .about__breadcrumbs
                +bread-crumbs(aboutBreadcrumbs)
            h2.section-title О компании
            img.about__img(src="/src/assets/img/about/about.webp" alt="ГК СОТРАНС — генеральный дистрибьютор HARBINGER™")
            .about__block
                h3.about__block-title Запчасти HARBINGER представлены на российском рынке с 2020 года
                p.about__block-text
                    |Философия бренда основана на принципе сделать запчасти для коммерческого автотранспорта комфортными и доступными.
                    |HARBINGER постоянно расширяет свою ассортиментную матрицу, стараясь максимально удовлетворить запросы клиентов. Генеральным дистрибьютором бренда в Российской Федерации и странах ЕАЭС является группа компаний «СОТРАНС».
            .about__presentation
                .about__presentation-logo
                    svg.icon
                        use(href='/src/assets/img/sprite.svg#sotrans')
                .about__presentation-title
                    |Скачать презентацию
                    br
                    |дистрибьютора ГК «СОТРАНС»
                a.about__presentation-action(href="" download)
                    |Скачать презентацию
                    svg.icon
                        use(href="/src/assets/img/sprite.svg#File")
            .about__block
                h3.about__block-title Производство
                p.about__block-text Продукция «HARBINGER™» изготавливается на высокотехнологичных предприятиях в Турции и Китае, которые на протяжении последних десятилетий поставляют комплектующие для ведущих производителей коммерческой техники на конвейер. Все предприятия, производящие запчасти «HARBINGER™», имеют высокую степень автоматизации, что обеспечивает минимальный уровень влияния человеческого фактора на точность механических операций.
                p.about__block-text Специалисты собственного инженерного центра компании производят оценку оборудования, качества сырья и заготовок, как до момента заключения контрактов на  производство, так и непосредственно на всех этапах производственного цикла.
                p.about__block-text В процессе работы брендом «HARBINGER™» была внедрена система оценки качества, которая позволяет контролировать процесс постановки на производство деталей для рынка Aftermarket и гарантировать пользователям эксплуатационный ресурс каждой детали. Таким образом, все производственные площадки деталей бренда входят в глобальную систему оценки качества конвейерных поставщиков IATF 16949. Кроме того, предприятия, выпускающие продукцию HARBINGER, имеют сертификаты соответствия: ISO 9001, ISO 14001, ECE R90.
                p.about__block-text Для изготовления фильтров «HARBINGER™» была выбрана фабрика в Китае, производящая по контракту фильтры известных брендов (Cummins, Diesel Technic, Febi, Marshall и др.), что указывает на высокий уровень стандартов качества производства.
                p.about__block-text Фабрика площадью ~ 130 000 кв.м., обладает высокой производственной мощностью. Ежемесячный выпуск готовой продукции составляет ~ 700 000 ед. товара.
                p.about__block-text Ассортимент насчитывает более 1000 различных типов фильтров, позволяя охватить 98% моделей китайских грузовиков и большую часть европейских, американских, российских и японских транспортных средств.
                p.about__block-text Тщательно продуманное производство, соблюдение всех стандартов, первоклассное техническое оснащение, просторные цеха, а также большая научно-исследовательская группа инженеров обеспечивают высокое качество выпускаемой продукции.
            img.about__img(src="/src/assets/img/main/separator/separator.webp" alt="ГК СОТРАНС — генеральный дистрибьютор HARBINGER™")
            .about__block
                h3.about__block-title Продукция
                p.about__block-text Сегодня в ассортименте бренда «HARBINGER™» представлено более 1000 артикулов запчастей для сервисного обслуживания и ремонта коммерческого транспорта в следующих товарных группах:
                ul.about__block-list
                    li.about__block-item Радиаторы и интеркулеры;
                    li.about__block-item Энергоаккумуляторы;
                    li.about__block-item Тормозные камеры;
                    li.about__block-item Тормозные диски;
                    li.about__block-item Тормозные колодки и накладки;
                    li.about__block-item Тормозные валы;
                    li.about__block-item Датчики АБС;
                    li.about__block-item Крепежи;
                    li.about__block-item Фильтры.
            .about__block
                h3.about__block-title ГК СОТРАНС — генеральный дистрибьютор HARBINGER™ на территории Российской Федерации и в странах ЕАЭС
                p.about__block-text Группа компаний «СОТРАНС» более 30 лет занимает лидирующие позиции на рынке грузоперевозок, по продаже техники и запчастей в России.
                p.about__block-text К 2023 году штат сотрудников составляет более 2000 человек, а филиальная сеть насчитывает более 20 офисов в РФ. За годы работы ГК «СОТРАНС» зарекомендовала себя, как ответственного и надёжного партнёра.
                    |Продукцию «HARBINGER™» вы можете приобрести в официальном интернет-магазине «СОТРАНС».

