section.not-found.top
    .container
        .not-found__container
            h2.not-found__title 404
            p.not-found__text Cтраница, которую вы ищите, не существует либо устарела
            a.not-found__link(href='/')
                |Вернуться на главную
                svg.icon
                    use(href='/src/assets/img/sprite.svg#Arrow_Up_Right_MD')