section.dev.top
    .container
        .not-found__container
            h2.dev__title Страница временно недоступна
            p.dev__text Сейчас на сайте проводятся технические работы. Пожалуйста, зайдите позже.
            a.not-found__link(href='/')
                |Вернуться на главную
                svg.icon
                    use(href='/src/assets/img/sprite.svg#Arrow_Up_Right_MD')